*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.cardCollection{
    margin-top: 60px;
    padding :40 20;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    color: #000;
    
}
.Heading{
  
 background-color: rgb(54, 139, 189);
 font-weight: 900;
 font-size: 26px;
 padding: 20px 40px;
 color: #fff;

}
.card-body{
    background-color:#82e2e2;
    width: 320px;
    height: 150px;
    padding: 20px 10px 50px 10px;
    text-align: left;
}
.card-body h5{
    font-size: 21px;
    font-weight: 700;
}
.card-body p{
    font-size: 16px;
    font-weight: 400;
}
